In [2]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

directory_path = "/Users/bao.vo/PycharmProjects/PythonProject/Data"

In [3]:
# Set the directory containing your CSV files
directory_path = "/Users/bao.vo/PycharmProjects/PythonProject/Data/"

csv_files = glob.glob(os.path.join(directory_path, "*.csv"))

print(f"Found {len(csv_files)} CSV files.")

Found 20 CSV files.

In [4]:
eda_files = [
    "Georgia Milestones Scores.csv",
    "Georgia Milestones Sublevel Score.csv",
    "StudentTeacherGradeCombined",
    "GraduationAreaSummary.csv",
    "Courses.csv"
]

for fname in eda_files:
    fpath = os.path.join(directory_path, fname)
    try:
        try:
            df = pd.read_csv(fpath, encoding="utf-8", low_memory=False)
        except UnicodeDecodeError:
            df = pd.read_csv(fpath, encoding="latin1", low_memory=False)

        print(f"\n📊 First 5 rows of {fname}:")
        display(df.head(5))

    except FileNotFoundError:
        print(f"File not found: {fname}")
    except Exception as e:
        print(f"Failed to load {fname}: {e}")

📊 First 5 rows of Georgia Milestones Scores.csv:

,GeorgiaMilestonesId,GeorgiaMilestonesAchievementLevelId,SubjectDesc,SchoolYearId,AssessmentAdministrationWindowId,AssessmentAdministrationWindowDesc,TestingDateId,StudentPersonKey_mask,SchoolDetailFCSId,SchoolId,...,ActiveFactGeorgiaMilestonesRecordFlag,ExtendedWritingT1Score,ExtendedWritingT2Score,NarrativeWritingResponse,ExtendedWritingPromptGenre,StudentGrowthPercentileFinal,StudentGrowthLevel,Assmnt_Sci,NRTNP_Range,Retest_Flag
0,1362898,1,Algebra I,32,5,Fall MM,11319,356119,804,143,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1362899,2,American Literature & Composition,32,5,Fall MM,11319,217864,852,78,...,Y,3.0,2.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN
2,1362900,4,American Literature & Composition,32,5,Fall MM,11319,237883,852,78,...,Y,2.0,2.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
3,1362901,2,Algebra I,32,5,Fall MM,11319,236191,852,78,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1362902,1,Biology,32,5,Fall MM,11319,196546,852,78,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

📊 First 5 rows of Georgia Milestones Sublevel Score.csv:

,GeorgiaMilestonesSublevelId,GeorgiaMilestonesId,SchoolId,SchoolDetailFCSId,StudentPersonKey_mask,AssessmentId,TestingDateId,AssessmentAdministrationWindowId,SchoolYearId,GeorgiaMilestonesMasteryLevelId,MasteryCategoryDomainScore,ActiveFactGeorgiaMilestonesSublevelRecordFlag
0,4700514,1362898,143,804,356119,767,11319,5,32,1,1,Y
1,4700515,1362898,143,804,356119,1070,11319,5,32,1,1,Y
2,4700516,1362898,143,804,356119,1071,11319,5,32,1,1,Y
3,4700517,1362898,143,804,356119,1072,11319,5,32,1,1,Y
4,4700518,1362899,78,852,217864,569,11319,5,32,1,1,Y

File not found: StudentTeacherGradeCombined

📊 First 5 rows of GraduationAreaSummary.csv:

,mask_studentpersonkey,CurrentSchoolDetailFCSId,SchoolId,SchoolYearNumberFall,SubjectArea,SubjectAreaCreditRequired,AreaCredits,AreaCreditStillNeeded
0,350335,741,115,2023,Math,4,1.5,2.5
1,1946451,870,80,2022,Health/ PersonalFitness,1,0.5,0.5
2,1987664,880,81,2024,World Language/ FineArts/ CareerTech,3,1.0,2.0
3,1521002,804,143,2024,World Language/ FineArts/ CareerTech,3,1.5,1.5
4,317341,751,74,2021,Social Studies,3,2.5,0.5

📊 First 5 rows of Courses.csv:

,siscourseidentifier,CourseId,coursename,schooldetaillevelcode,DepartmentCode,DepartmentDesc,SubjectAreaDesc,DOECourseNumber,Active_status,Source,honorsCode,HonorsDesc,CourseLevelNumber,CourseLevelDesc
0,17.01104,7799,College Health,HS,HLTH,HEALTH EDUCATION,HEALTH,17.011,Y,CC,DUAL,Dual Enrollment,0,Level 2 Honors
1,27.061066,8107,TR Resrch Meth M H,HS,MATH,MATH,ELECTIVE,NaN,NaN,TR,NaN,NaN,0,Level 2 Honors
2,27.0610661,8108,TR Resrch Meth M H,HS,MATH,MATH,ELECTIVE,NaN,NaN,TR,NaN,NaN,0,Level 2 Honors
3,00.0011040,8843,Advisement 10-40,HS,MISC,MISCELLANEOUS,NaN,00.00000,Y,CC,NaN,NaN,0,Level 1 Non Honors
4,00.0010940,8844,Advisement 09-40,HS,MISC,MISCELLANEOUS,NaN,00.00000,Y,CC,NaN,NaN,0,Level 1 Non Honors

In [5]:
# GraduationAreaSummary.csv
grad_summary = pd.read_csv(os.path.join(directory_path, "GraduationAreaSummary.csv"), low_memory=False)

# Courses.csv (static course catalog)
courses = pd.read_csv(os.path.join(directory_path, "Courses.csv"), low_memory=False)

all_grades = pd.read_csv(os.path.join(directory_path, "StudentTeacherGradeCombined.csv"), low_memory=False)
def categorize_grade_level(grade):
    if grade in ['K', '01', '02', '03', '04', '05']:
        return 'Elementary'
    elif grade in ['06', '07', '08']:
        return 'Middle'
    elif grade in ['09', '10', '11', '12']:
        return 'High'
    else:
        return 'Unknown'

all_grades['SchoolLevel'] = all_grades['GradeLevel'].apply(categorize_grade_level)

display(all_grades.head())

,GradeLevel,SchoolYearId,SchoolYear,MarkingPeriodCode,MarkingPeriodStartDate,MarkingPeriodEndDate,SchoolDetailFCSId,SchoolStateId,CourseLevelDesc,CourseNumber,...,EndPeriodCode,SchoolCourseDesc,AttemptedCredit,EarnedCredit,MarkTypeCode,MarkTypeDesc,Mark,StaffPersonKey,mask_studentpersonkey,SchoolLevel
0,01,32,2021-2022,Q2,2021-10-13 00:00:00.000,2021-12-17 00:00:00.000,380.0,193.0,Level 1,00.0001110,...,5,Odyssey,0.0,0.0,S18,Semester,NaN,14906.0,418681.0,Elementary
1,01,32,2021-2022,Q1,2021-08-09 00:00:00.000,2021-10-08 00:00:00.000,155.0,298.0,Level 1,00.8000000,...,1,Sc-Sec,0.0,0.0,S18,Semester,NaN,-1.0,419430.0,Elementary
2,01,32,2021-2022,Q1,2021-08-09 00:00:00.000,2021-10-08 00:00:00.000,601.0,101.0,Level 1,00.8000000,...,1,Sc-Sec,0.0,0.0,S18,Semester,NaN,65356.0,433229.0,Elementary
3,01,32,2021-2022,Q1,2021-08-09 00:00:00.000,2021-10-08 00:00:00.000,324.0,5060.0,Level 1,00.8000000,...,1,Sc-Sec,0.0,0.0,S18,Semester,NaN,29922.0,419002.0,Elementary
4,01,32,2021-2022,Q1,2021-08-09 00:00:00.000,2021-10-08 00:00:00.000,380.0,193.0,Level 1,00.0001110,...,5,Odyssey,0.0,0.0,S18,Semester,NaN,14906.0,466709.0,Elementary

In [6]:
all_grades = all_grades.rename(columns={"mask_studentpersonkey": "student_id"})

In [7]:
# Filter only High School students with credit data
hs_grades = all_grades[
    (all_grades["SchoolLevel"] == "High") &
    (all_grades["AttemptedCredit"].notna()) &
    (all_grades["EarnedCredit"] > 0)
]
display(hs_grades.sort_values(by="AttemptedCredit", ascending=False).head(5))

,GradeLevel,SchoolYearId,SchoolYear,MarkingPeriodCode,MarkingPeriodStartDate,MarkingPeriodEndDate,SchoolDetailFCSId,SchoolStateId,CourseLevelDesc,CourseNumber,...,EndPeriodCode,SchoolCourseDesc,AttemptedCredit,EarnedCredit,MarkTypeCode,MarkTypeDesc,Mark,StaffPersonKey,student_id,SchoolLevel
6048217,12,34,2023-2024,S1,2023-08-07 00:00:00.000,2023-12-15 00:00:00.000,753.0,1323.0,NaN,11.7116101,...,8th,WBL - Computing/Ntwk,1.5,1.5,S18,Semester,97,114329.0,584198.0,High
8288912,12,35,2024-2025,S1,2024-08-05 00:00:00.000,2024-12-20 00:00:00.000,753.0,1323.0,NaN,21.7116101,...,Advisement,WBL - Engineering,1.5,1.5,S18,Semester,70,114329.0,766803.0,High
6052782,12,34,2023-2024,S1,2023-08-07 00:00:00.000,2023-12-15 00:00:00.000,982.0,118.0,NaN,06.7116101,...,4,WBL - Entrepreneurship,1.5,1.5,S18,Semester,100,70017013.0,432989.0,High
6020559,12,34,2023-2024,S1,2023-08-07 00:00:00.000,2023-12-15 00:00:00.000,870.0,291.0,NaN,45.7115101,...,3,WBL - Social Studies,1.5,1.5,S18,Semester,94,24568.0,253993.0,High
8248668,12,35,2024-2025,S1,2024-08-05 00:00:00.000,2024-12-20 00:00:00.000,982.0,118.0,NaN,06.7116101,...,4,WBL - Entrepreneurship,1.5,1.5,S18,Semester,100,70017013.0,322508.0,High

In [8]:
# Make cleaned copies before modifying
hs_grades_cleaned = hs_grades.copy()
grad_summary_cleaned = grad_summary.copy()

In [9]:
# Normalize student ID format in both datasets
hs_grades_cleaned.loc[:, "student_id"] = hs_grades_cleaned["student_id"].astype(str).str.replace(r"\.0$", "", regex=True)
grad_summary_cleaned["student_id"] = grad_summary_cleaned["mask_studentpersonkey"].astype(str).str.replace(r"\.0$", "", regex=True)
# hs_grades_cleaned = hs_grades_cleaned.drop(columns=["mask_studentpersonkey"])
grad_summary_cleaned = grad_summary_cleaned.drop(columns=["mask_studentpersonkey"])

/var/folders/h6/zpsbdpxs6dxg5vq66fkdgnr00000gp/T/ipykernel_63358/567734422.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['370673' '311666' '329248' ... '361715' '361715' '361715']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  hs_grades_cleaned.loc[:, "student_id"] = hs_grades_cleaned["student_id"].astype(str).str.replace(r"\.0$", "", regex=True)

In [10]:
display(hs_grades_cleaned["student_id"].unique())
display(grad_summary_cleaned["student_id"].unique())

array(['370673', '311666', '329248', ..., '1988932', '1974938', '1988475'],
      shape=(48622,), dtype=object)

array(['350335', '1946451', '1987664', ..., '432012', '1996006',
       '1941168'], shape=(29316,), dtype=object)

In [11]:
### Using Graduate Area Summary as primary dataset since we focus on Graduation Recommendation ###

summary_ids = set(grad_summary_cleaned["student_id"])

# Get student IDs with course records in 2024-2025
active_2024_ids = set(
    hs_grades_cleaned[hs_grades_cleaned["SchoolYear"] == "2024-2025"]["student_id"]
)

# Find which summary students are active this year
active_summary_students = summary_ids & active_2024_ids
inactive_summary_students = summary_ids - active_2024_ids

# Report
print(f"📘 Students in summary: {len(summary_ids)}")
print(f"✅ Still active in 2024–2025: {len(active_summary_students)}")
print(f"❌ No activity in 2024–2025: {len(inactive_summary_students)}")

# Show a few inactive IDs
if inactive_summary_students:
    print("Sample of inactive students:")
    display(list(inactive_summary_students)[:5])

📘 Students in summary: 29316
✅ Still active in 2024–2025: 28442
❌ No activity in 2024–2025: 874
Sample of inactive students:

['1997622', '2002040', '419791', '390842', '2003242']

In [12]:
# Keep only active students in 2024–2025 for recommendations
grad_summary_filtered = grad_summary_cleaned[
    grad_summary_cleaned["student_id"].isin(active_2024_ids)
]

display(grad_summary_filtered.head())
print(len(grad_summary_filtered))

,CurrentSchoolDetailFCSId,SchoolId,SchoolYearNumberFall,SubjectArea,SubjectAreaCreditRequired,AreaCredits,AreaCreditStillNeeded,student_id
0,741,115,2023,Math,4,1.5,2.5,350335
1,870,80,2022,Health/ PersonalFitness,1,0.5,0.5,1946451
2,880,81,2024,World Language/ FineArts/ CareerTech,3,1.0,2.0,1987664
3,804,143,2024,World Language/ FineArts/ CareerTech,3,1.5,1.5,1521002
4,751,74,2021,Social Studies,3,2.5,0.5,317341

192326

In [13]:
# Join grad summary with hs_grades
merged = grad_summary_filtered.merge(
    hs_grades_cleaned,
    on="student_id",
    how="left"
)

#  Keep relevant columns
credit_data = merged[["student_id", "SubjectArea", "AreaCreditStillNeeded"]].drop_duplicates()

# Pivot to get SubjectArea as columns and values as AreaCreditStillNeeded
credit_pivot = credit_data.pivot_table(
    index="student_id",
    columns="SubjectArea",
    values="AreaCreditStillNeeded",
    aggfunc="last"
).fillna(0)

# Clean column names
credit_pivot.columns = [f"CredStill_{col}" for col in credit_pivot.columns]
credit_pivot.reset_index(inplace=True)

# Merge back with hs_grades_cleaned to enrich further
final_df = hs_grades_cleaned.merge(credit_pivot, on="student_id", how="left")

# Preview
display(final_df.head())

,GradeLevel,SchoolYearId,SchoolYear,MarkingPeriodCode,MarkingPeriodStartDate,MarkingPeriodEndDate,SchoolDetailFCSId,SchoolStateId,CourseLevelDesc,CourseNumber,...,StaffPersonKey,student_id,SchoolLevel,CredStill_ELA,CredStill_Electives,CredStill_Health/ PersonalFitness,CredStill_Math,CredStill_Science,CredStill_Social Studies,CredStill_World Language/ FineArts/ CareerTech
0,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,852.0,191.0,Level 2 Honors,23.0620041,...,7186.0,370673,High,2.0,1.0,0.5,1.5,1.5,1.0,0.0
1,09,33,2022-2023,S2,2023-01-04 00:00:00.000,2023-05-25 00:00:00.000,804.0,106.0,Level 2 Honors,40.0110042,...,110809.0,311666,High,1.5,1.5,0.5,1.5,1.5,1.5,0.0
2,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,741.0,910.0,Level 2 Honors,23.0620041,...,3931.0,329248,High,1.5,3.0,0.5,0.0,0.0,0.5,0.0
3,09,33,2022-2023,S2,2023-01-04 00:00:00.000,2023-05-25 00:00:00.000,804.0,106.0,Level 2 Honors,40.0110042,...,110809.0,354631,High,1.5,1.5,0.0,1.5,1.0,1.5,0.0
4,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,866.0,198.0,Level 2 Honors,23.0620041,...,111252.0,331279,High,1.5,2.0,0.5,1.5,1.5,1.0,0.0

In [14]:
display(courses.head())

,siscourseidentifier,CourseId,coursename,schooldetaillevelcode,DepartmentCode,DepartmentDesc,SubjectAreaDesc,DOECourseNumber,Active_status,Source,honorsCode,HonorsDesc,CourseLevelNumber,CourseLevelDesc
0,17.01104,7799,College Health,HS,HLTH,HEALTH EDUCATION,HEALTH,17.011,Y,CC,DUAL,Dual Enrollment,0,Level 2 Honors
1,27.061066,8107,TR Resrch Meth M H,HS,MATH,MATH,ELECTIVE,NaN,NaN,TR,NaN,NaN,0,Level 2 Honors
2,27.0610661,8108,TR Resrch Meth M H,HS,MATH,MATH,ELECTIVE,NaN,NaN,TR,NaN,NaN,0,Level 2 Honors
3,00.0011040,8843,Advisement 10-40,HS,MISC,MISCELLANEOUS,NaN,00.00000,Y,CC,NaN,NaN,0,Level 1 Non Honors
4,00.0010940,8844,Advisement 09-40,HS,MISC,MISCELLANEOUS,NaN,00.00000,Y,CC,NaN,NaN,0,Level 1 Non Honors

In [15]:
# Strip and view distinct values
courses["Active_status_clean"] = courses["Active_status"].where(
    courses["Active_status"].notna()
).str.strip().str.upper()
print("Unique cleaned Active_status values:")
display(courses["Active_status_clean"].unique())

Unique cleaned Active_status values:

array(['Y', nan, 'N'], dtype=object)

In [16]:
# Get frequency of cleaned status values
print(courses["Active_status_clean"].value_counts(dropna=False))

Active_status_clean
NaN    11563
Y       9522
N       1288
Name: count, dtype: int64

In [17]:
# Taking only active and high school level courses
courses_active = courses[
    (courses["Active_status_clean"] == "Y") | (courses["Active_status_clean"].isna()) & (courses["schooldetaillevelcode"] == "HS")
]

In [18]:
display(courses_active['DepartmentDesc'].unique())
display(final_df.head())

array(['HEALTH EDUCATION', 'MATH', 'MISCELLANEOUS',
       'CAREER TECHNICAL AND AGRICULTURAL EDUCATION', 'FINE ARTS',
       'LANGUAGE ARTS', 'SCIENCE', 'PE/HEALTH', 'READING',
       'ELECTIVE COURSES', 'SOCIAL SCIENCES', 'WORLD LANGUAGES',
       'ESOL DEPT', 'TALENTED AND GIFTED DEPT', nan, 'ROTC DEPT',
       'FOREIGN LANGUAGE', 'ART'], dtype=object)

,GradeLevel,SchoolYearId,SchoolYear,MarkingPeriodCode,MarkingPeriodStartDate,MarkingPeriodEndDate,SchoolDetailFCSId,SchoolStateId,CourseLevelDesc,CourseNumber,...,StaffPersonKey,student_id,SchoolLevel,CredStill_ELA,CredStill_Electives,CredStill_Health/ PersonalFitness,CredStill_Math,CredStill_Science,CredStill_Social Studies,CredStill_World Language/ FineArts/ CareerTech
0,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,852.0,191.0,Level 2 Honors,23.0620041,...,7186.0,370673,High,2.0,1.0,0.5,1.5,1.5,1.0,0.0
1,09,33,2022-2023,S2,2023-01-04 00:00:00.000,2023-05-25 00:00:00.000,804.0,106.0,Level 2 Honors,40.0110042,...,110809.0,311666,High,1.5,1.5,0.5,1.5,1.5,1.5,0.0
2,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,741.0,910.0,Level 2 Honors,23.0620041,...,3931.0,329248,High,1.5,3.0,0.5,0.0,0.0,0.5,0.0
3,09,33,2022-2023,S2,2023-01-04 00:00:00.000,2023-05-25 00:00:00.000,804.0,106.0,Level 2 Honors,40.0110042,...,110809.0,354631,High,1.5,1.5,0.0,1.5,1.0,1.5,0.0
4,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,866.0,198.0,Level 2 Honors,23.0620041,...,111252.0,331279,High,1.5,2.0,0.5,1.5,1.5,1.0,0.0

In [19]:
final_df.to_csv("Final_DF.csv", index=False)

In [20]:
display(courses_active.head())
display(final_df.head())

,siscourseidentifier,CourseId,coursename,schooldetaillevelcode,DepartmentCode,DepartmentDesc,SubjectAreaDesc,DOECourseNumber,Active_status,Source,honorsCode,HonorsDesc,CourseLevelNumber,CourseLevelDesc,Active_status_clean
0,17.01104,7799,College Health,HS,HLTH,HEALTH EDUCATION,HEALTH,17.011,Y,CC,DUAL,Dual Enrollment,0,Level 2 Honors,Y
1,27.061066,8107,TR Resrch Meth M H,HS,MATH,MATH,ELECTIVE,NaN,NaN,TR,NaN,NaN,0,Level 2 Honors,NaN
2,27.0610661,8108,TR Resrch Meth M H,HS,MATH,MATH,ELECTIVE,NaN,NaN,TR,NaN,NaN,0,Level 2 Honors,NaN
3,00.0011040,8843,Advisement 10-40,HS,MISC,MISCELLANEOUS,NaN,00.00000,Y,CC,NaN,NaN,0,Level 1 Non Honors,Y
4,00.0010940,8844,Advisement 09-40,HS,MISC,MISCELLANEOUS,NaN,00.00000,Y,CC,NaN,NaN,0,Level 1 Non Honors,Y

,GradeLevel,SchoolYearId,SchoolYear,MarkingPeriodCode,MarkingPeriodStartDate,MarkingPeriodEndDate,SchoolDetailFCSId,SchoolStateId,CourseLevelDesc,CourseNumber,...,StaffPersonKey,student_id,SchoolLevel,CredStill_ELA,CredStill_Electives,CredStill_Health/ PersonalFitness,CredStill_Math,CredStill_Science,CredStill_Social Studies,CredStill_World Language/ FineArts/ CareerTech
0,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,852.0,191.0,Level 2 Honors,23.0620041,...,7186.0,370673,High,2.0,1.0,0.5,1.5,1.5,1.0,0.0
1,09,33,2022-2023,S2,2023-01-04 00:00:00.000,2023-05-25 00:00:00.000,804.0,106.0,Level 2 Honors,40.0110042,...,110809.0,311666,High,1.5,1.5,0.5,1.5,1.5,1.5,0.0
2,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,741.0,910.0,Level 2 Honors,23.0620041,...,3931.0,329248,High,1.5,3.0,0.5,0.0,0.0,0.5,0.0
3,09,33,2022-2023,S2,2023-01-04 00:00:00.000,2023-05-25 00:00:00.000,804.0,106.0,Level 2 Honors,40.0110042,...,110809.0,354631,High,1.5,1.5,0.0,1.5,1.0,1.5,0.0
4,09,33,2022-2023,S1,2022-08-08 00:00:00.000,2022-12-16 00:00:00.000,866.0,198.0,Level 2 Honors,23.0620041,...,111252.0,331279,High,1.5,2.0,0.5,1.5,1.5,1.0,0.0

In [21]:
print(len(grad_summary_filtered))

192326

In [ ]:
# Normalize subject area names
subjectarea_map = {
    "Math": "MATH",
    "Health/ PersonalFitness": "HEALTH EDUCATION",
    "World Language/ FineArts/ CareerTech": "CAREER TECHNICAL AND AGRICULTURAL EDUCATION",
    "Social Studies": "SOCIAL SCIENCES",
    "ELA": "LANGUAGE ARTS",
    "Science": "SCIENCE",
    "Electives": "ELECTIVE COURSES"
}

grad_summary_filtered["DepartmentDesc"] = grad_summary_filtered["SubjectArea"].map(subjectarea_map)

# Filter for students with unmet credit
credit_gaps = grad_summary_filtered[
    grad_summary_filtered["AreaCreditStillNeeded"] > 0
][["student_id", "DepartmentDesc", "SubjectArea", "AreaCreditStillNeeded"]]

# Use active courses only
course_map = courses_active[["CourseId", "coursename", "DepartmentDesc"]].dropna().drop_duplicates()

# Merge to recommend courses for those gaps
recommendations = credit_gaps.merge(course_map, on="DepartmentDesc", how="left")

# Filter out already-taken courses before final_df merge
taken = hs_grades_cleaned[["student_id", "DepartmentDesc"]].drop_duplicates()
recommendations = recommendations.merge(taken, on=["student_id", "DepartmentDesc"], how="left", indicator=True)
recommendations = recommendations[recommendations["_merge"] == "left_only"].drop(columns=["_merge"])

# Final preview
display(recommendations.head())

/var/folders/h6/zpsbdpxs6dxg5vq66fkdgnr00000gp/T/ipykernel_63358/3381456216.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grad_summary_filtered["DepartmentDesc"] = grad_summary_filtered["SubjectArea"].map(subjectarea_map)

In [ ]:
recommend_df.to_csv("RecommendedCourses.csv", index=False)

In [81]:
print("GraduationAreaSummary SubjectArea:")
print(grad_summary["SubjectArea"].unique())

print("\nCourses DepartmentDesc:")
print(courses["DepartmentDesc"].unique())

print("\nCourses SubjectAreaDesc:")
print(courses["SubjectAreaDesc"].unique())

GraduationAreaSummary SubjectArea:
['Math' 'Health/ PersonalFitness' 'World Language/ FineArts/ CareerTech'
 'Social Studies' 'ELA' 'Science' 'Electives']

Courses DepartmentDesc:
['HEALTH EDUCATION' 'MATH' 'MISCELLANEOUS' nan
 'CAREER TECHNICAL AND AGRICULTURAL EDUCATION' 'FINE ARTS' 'LANGUAGE ARTS'
 'SCIENCE' 'PE/HEALTH' 'SPECIAL EDUCATION' 'READING' 'ELECTIVE COURSES'
 'SOCIAL SCIENCES' 'WORLD LANGUAGES' 'ESOL DEPT'
 'TALENTED AND GIFTED DEPT' 'ROTC DEPT' 'FOREIGN LANGUAGE'
 'CAREER TECHNOLOGY' 'FAMILY & CONSUMER SC' 'ART']

Courses SubjectAreaDesc:
['HEALTH' 'ELECTIVE' nan 'ENGLISH/LANGUAGE ARTS' 'SCIENCE'
 'CAREER/FOREIGN LANGUAGE/FINE ARTS' 'SR LANG ARTS C-P' 'FRENCH PATHWAY'
 'ENTREPRENEURSHIP PATHWAY' 'CAREER TECH ELECTIVE' 'JAPENESE PATHWAY'
 'PERSONAL FITNESS' 'SOCIAL STUDIES' 'MATH' 'ALGEBRA II OR EQUIVALENT'
 'MATH SR - C' 'BIOLOGY' 'PHYSICAL EDUCATION' 'SCIENCE C-P' 'ENGLISH C-P'
 'AM. LIT C-P' 'FINE ARTS' 'ANIMAL SYSTEMS PATHWAY'
 'AUDIO-VIDEO TECHNOLOGY & FILM PATHWAY'
 'ARCHITECTURAL DRAWING & DESIGN PATHWAY' 'CARPENTRY PATHWAY'
 'Graphic Design Pathway'
 'THERAPEUTIC SERVICES-EMERGENCY SERVICES PATHWAY' 'LATIN PATHWAY'
 'ADVANCED ACADEMIC PATHWAY ELA' 'ADVANCED ACADEMIC PATHWAY MATHEMATICS'
 'ADVANCED ACADEMIC PATHWAY SOCIAL STUDIES'
 'EARLY CHILDHOOD EDUCATION PATHWAY'
 'EARLY CHILDHOOD CARE & EDUCATION PATHWAY' 'PROGRAMMING PATHWAY'
 'ENGINEERING AND TECHNOLOGY PATHWAY'
 'LAW ENFORCEMENT SERVICES/CRIMINAL INVESTIGATION PATHWAY'
 'CHINESE PATHWAY' 'GERMAN PATHWAY' 'SPANISH PATHWAY'
 'AGRISCIENCE SYSTEMS PATHWAY'
 'THERAPEUTIC SERVICES - ALLIED HEALTH AND MEDICINE PATHWAY'
 'HUMAN RESOURCES MANAGEMENT PATHWAY' 'TEACHING AS A PROFESSION PATHWAY'
 'MATH C-P' 'THERAPEUTIC SERVICES-PATIENT CARE PATHWAY'
 'THERAPEUTIC SERVICES-EMERGENCY MEDICAL RESPONDER PATHWAY'
 'AUTOMOBILE MAINTENANCE AND LIGHT REPAIR PATHWAY' 'PHYSICS/PHY SC'
 'BROADCAST/VIDEO PRODUCTION PATHWAY' 'COMPUTER SCIENCE PATHWAY'
 'CONSTRUCTION PATHWAY']

In [ ]:
# Rename the student ID column in graduation summary if necessary
if "mask_studentpersonkey" in grad_summary.columns:
    grad_summary = grad_summary.rename(columns={"mask_studentpersonkey": "student_id"})

# Keep only the columns we need
grad_keep = ["student_id", "SubjectArea", "AreaCreditStillNeeded"]
grad_small = grad_summary[grad_keep].copy()

grad_pivot = grad_small.pivot_table(
    index="student_id",
    columns="SubjectArea",
    values="AreaCreditStillNeeded",
    aggfunc="last"
).fillna(0)

grad_pivot.columns = [f"CredStill_{col}" for col in grad_pivot.columns]
grad_pivot.reset_index(inplace=True)

print(">>> Pivoted GraduationAreaSummary (credits still needed) <<<")
display(grad_pivot.head())

In [ ]:

# Normalize GraduationAreaSummary SubjectArea for matching
subjectarea_map = {
    "Math": "MATH",
    "Health/ PersonalFitness": "HEALTH EDUCATION",
    "World Language/ FineArts/ CareerTech": "CAREER TECHNICAL AND AGRICULTURAL EDUCATION",
    "Social Studies": "SOCIAL SCIENCES",
    "ELA": "LANGUAGE ARTS",
    "Science": "SCIENCE",
    "Electives": "ELECTIVE COURSES"
}

grad_summary["NormalizedSubject"] = grad_summary["SubjectArea"].map(subjectarea_map)

# Use DepartmentDesc for mapping recommendations
credit_gaps = grad_summary[["student_id", "NormalizedSubject", "AreaCreditStillNeeded"]]
credit_gaps = credit_gaps[credit_gaps["AreaCreditStillNeeded"] > 0]
credit_gaps = credit_gaps.rename(columns={"NormalizedSubject": "DepartmentDesc"})

# Filter for active courses only
# active_courses = courses[courses["Active_status"] == "Active"]

# Cleaned course catalog for matching
course_map = courses[["CourseId", "coursename", "DepartmentDesc"]].dropna().drop_duplicates()

# Merge to get recommended courses by subject need
recommendations = credit_gaps.merge(course_map, on="DepartmentDesc", how="left")

In [ ]:
display(recommendations.head())

In [ ]:

recommendations = recommendations[["student_id", "DepartmentDesc", "SubjectArea", "AreaCreditStillNeeded", "CourseId", "coursename"]]

# Display recommendations
print("📘 Normalized Course Recommendations for Students with Credit Gaps")
display(recommendations.head())