In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dtype_fix = {
    'GradeLevel': 'category',
    'CourseNumber': 'str',
    'DOECourseNumber': 'str',
    'StartPeriodCode': 'str',
    'EndPeriodCode': 'str',
    'AttemptedCreditOverrideReason': 'str',
    'EarnedCreditOverrideReason': 'str',
    'mask_studentpersonkey': 'str'
}
sg = pd.read_csv('../data/processed/StudentTeacherGradeCombined.csv', dtype=dtype_fix, low_memory=False)

In [12]:
sg = sg[sg['AttemptedCredit'].notnull()]
sg = sg[sg['Mark'].notnull()]

In [13]:
sg["mask_studentpersonkey"]

40554       442187
77340       580057
80230       440170
99952       440177
120187      572360
            ...
8361273     361715
8361277     361715
8415264    1857106
8455853    1999548
8474334    2000071
Name: mask_studentpersonkey, Length: 1124774, dtype: object

In [24]:
test = sg[sg["mask_studentpersonkey"] == "442187"]
test.to_dict(orient="records")

[{'GradeLevel': '01',
  'SchoolYearId': 32,
  'SchoolYear': '2021-2022',
  'MarkingPeriodCode': 'Q2',
  'MarkingPeriodStartDate': '2021-10-13 00:00:00.000',
  'MarkingPeriodEndDate': '2021-12-17 00:00:00.000',
  'SchoolDetailFCSId': 414.0,
  'SchoolStateId': 100.0,
  'CourseLevelDesc': 'KK-1 Gradebook Mark',
  'CourseNumber': '45.0020000',
  'CourseDesc': 'In the first grade, students continue...',
  'DepartmentDesc': 'SOCIAL SCIENCES',
  'DOECourseNumber': '45.00200 ',
  'StartPeriodCode': '4',
  'EndPeriodCode': '4',
  'SchoolCourseDesc': 'Soc Studies/1',
  'AttemptedCredit': 0.0,
  'EarnedCredit': 0.0,
  'MarkTypeCode': 'S18',
  'MarkTypeDesc': 'Semester',
  'Mark': 'S',
  'StaffPersonKey': 75448.0,
  'mask_studentpersonkey': '442187'}]

In [29]:
FOLDER_PATH = r"C:\Users\Hp\Desktop\GATech\Practicum\code\PracticumSummer2025\data"
FILE_NAME = "Fact_SATSummaryTest.xlsx"
FILE_PATH = os.path.join(FOLDER_PATH, FILE_NAME)

df = pd.read_excel(FILE_PATH)
df.head()

,TestingDateId,MathScore,VerbalScore,TotalScore,WritingScore,TotalScoreWithWriting,MathPercentile,VerbalPercentile,WritingPercentile,SchoolId,mask_studentpersonkey,SchoolDetailFCSId
0,10652,730,640,1370,NaN,NaN,97,88,NaN,74,220288,751
1,11016,730,660,1390,NaN,NaN,97,92,NaN,146,306968,754
2,11040,370,380,750,NaN,NaN,9,11,NaN,83,430528,914
3,11051,750,690,1440,NaN,NaN,98,96,NaN,74,219659,751
4,11051,640,640,1280,NaN,NaN,89,88,NaN,74,218026,751

In [37]:
df[df["mask_studentpersonkey"] == 315503]

,TestingDateId,MathScore,VerbalScore,TotalScore,WritingScore,TotalScoreWithWriting,MathPercentile,VerbalPercentile,WritingPercentile,SchoolId,mask_studentpersonkey,SchoolDetailFCSId
9865,11541,610,610,1220,NaN,NaN,83,81,NaN,115,315503,741
13111,11709,620,600,1220,NaN,NaN,85,79,NaN,115,315503,741
14118,11744,620,650,1270,NaN,NaN,85,90,NaN,115,315503,741
16741,11779,620,610,1230,NaN,NaN,85,81,NaN,115,315503,741
17673,11807,590,640,1230,NaN,NaN,79,88,NaN,115,315503,741
18795,11905,690,610,1300,NaN,NaN,94,81,NaN,115,315503,741
19603,11961,650,620,1270,NaN,NaN,90,84,NaN,115,315503,741
20452,11989,630,650,1280,NaN,NaN,87,90,NaN,115,315503,741
21779,12073,680,650,1330,NaN,NaN,93,90,NaN,115,315503,741
22914,12115,710,670,1380,NaN,NaN,96,93,NaN,115,315503,741
24551,12134,790,660,1450,NaN,NaN,99,92,NaN,115,315503,741
25797,12143,730,660,1390,NaN,NaN,97,92,NaN,115,315503,741
26959,12171,710,690,1400,NaN,NaN,96,96,NaN,115,315503,741

In [32]:
df.count()

TestingDateId            38307
MathScore                38307
VerbalScore              38307
TotalScore               38307
WritingScore                 0
TotalScoreWithWriting        0
MathPercentile           38307
VerbalPercentile         38307
WritingPercentile            0
SchoolId                 38307
mask_studentpersonkey    38307
SchoolDetailFCSId        38307
dtype: int64

In [38]:
FOLDER_PATH = r"C:\Users\Hp\Desktop\GATech\Practicum\code\PracticumSummer2025\data"
FILE_NAME = "Fact SAT Subject Scores.xlsx"
FILE_PATH = os.path.join(FOLDER_PATH, FILE_NAME)

df = pd.read_excel(FILE_PATH)
df.head()

,AssessmentId,TestingDateId,SubjectScore,SubjectPercentile,SchoolId,mask_studentpersonkey,SchoolDetailFCSId,SATSubjectTestID
0,1001,10652,640,88,74,220288,751,343107
1,1001,11016,660,92,146,306968,754,348924
2,1001,11040,380,11,83,430528,914,350131
3,1001,11051,690,96,74,219659,751,350386
4,1001,11051,640,88,74,218026,751,350388

In [40]:
df[(df["mask_studentpersonkey"] == 315503) & (df["TestingDateId"] == 11541) ]

,AssessmentId,TestingDateId,SubjectScore,SubjectPercentile,SchoolId,mask_studentpersonkey,SchoolDetailFCSId,SATSubjectTestID
9865,1001,11541,610,81,115,315503,741,406903
48134,1003,11541,610,83,115,315503,741,408052

In [43]:
FOLDER_PATH = r"C:\Users\Hp\Desktop\GATech\Practicum\code\PracticumSummer2025\data"
FILE_NAME = "IlluminateData2022.csv"
FILE_PATH = os.path.join(FOLDER_PATH, FILE_NAME)

df = pd.read_csv(FILE_PATH, encoding="cp1252")
df.head()

C:\Users\Hp\AppData\Local\Temp\ipykernel_21044\2630165075.py:5: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(FILE_PATH, encoding="cp1252")

,schoolyearnumberspring,unitnumber,Mask_StudentPersonkey,title,AssessmentId,responsedatevalue,DateValue,Response_points,Response_points_possible,Response_percent_correct,...,Standard_percent_correct,condition,pointsvarchar,categorytitle,stdgrouping,SchoolId,GradeLevelDuringUnitTest,ContinuousAchievementLevel,AssessmentGradeLevel,CurrentSchoolDetailFCSID
0,2022,1,763538,math,187897,2021-09-19 00:00:00,2021-09-19 00:00:00,5.0,15.0,33.33,...,14.29,Reteach,1/7,Grade 3,MGSE3.NBT.1 Use place value understanding to r...,29,3.0,On Level,3,492
1,2022,6,862425,language arts,232138,2022-05-11 00:00:00,2022-05-11 00:00:00,6.0,8.0,75.00,...,100.00,Extension,1/1,Grades: 6-8,ELAGSE6RI6_3.0_2 ELAGSE6RI6_3.0_2 Determine an...,37,6.0,On Level,6,696
2,2022,4,582651,math,191184,2022-01-28 00:00:00,2022-01-28 00:00:00,16.0,17.0,94.12,...,100.00,Extension,2/2,Mathematical Practices,4 Model with mathematics.,108,3.0,On Level,3,615
3,2022,2,584570,language arts,195554,2021-10-29 00:00:00,2021-10-29 00:00:00,7.0,10.0,70.00,...,100.00,Extension,1/1,Grade 4,ELAGSE4RI2_3.0_3 ELAGSE4RI2_3.0_3 Summarize th...,17,4.0,On Level,4,120
4,2022,6,550130,math,227708,2022-02-23 00:00:00,2022-02-23 00:00:00,13.0,15.0,86.67,...,100.00,Extension,2/2,Grade 8,MGSE8.F.5 Describe qualitatively the functiona...,64,7.0,Accelerated,8,686

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4106127 entries, 0 to 4106126
Data columns (total 28 columns):
 #   Column                      Dtype
---  ------                      -----
 0   schoolyearnumberspring      int64
 1   unitnumber                  int64
 2   Mask_StudentPersonkey       int64
 3   title                       object
 4   AssessmentId                int64
 5   responsedatevalue           object
 6   DateValue                   object
 7   Response_points             float64
 8   Response_points_possible    float64
 9   Response_percent_correct    float64
 10  Department                  object
 11  rn                          int64
 12  CurrentSchoolName           object
 13  standard_id                 int64
 14  StandardStateNumber         object
 15  Standard_Subject            object
 16  Standard_points             float64
 17  Standard_points_possible    float64
 18  Standard_percent_correct    float64
 19  condition                   object
 20  pointsvarchar               object
 21  categorytitle               object
 22  stdgrouping                 object
 23  SchoolId                    int64
 24  GradeLevelDuringUnitTest    object
 25  ContinuousAchievementLevel  object
 26  AssessmentGradeLevel        object
 27  CurrentSchoolDetailFCSID    int64
dtypes: float64(6), int64(8), object(14)
memory usage: 877.2+ MB

In [47]:
FOLDER_PATH = r"C:\Users\Hp\Desktop\GATech\Practicum\code\PracticumSummer2025\data"
FILE_NAME = "Student Teacher Grade 2022.csv"
FILE_PATH = os.path.join(FOLDER_PATH, FILE_NAME)

df = pd.read_csv(FILE_PATH)
df.head()

C:\Users\Hp\AppData\Local\Temp\ipykernel_21044\3396573020.py:5: DtypeWarning: Columns (0,9,12,13,14,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(FILE_PATH)

,GradeLevel,SchoolYearId,SchoolYear,MarkingPeriodCode,MarkingPeriodStartDate,MarkingPeriodEndDate,SchoolDetailFCSId,SchoolStateId,CourseLevelDesc,CourseNumber,...,AttemptedCreditOverrideReason,EarnedCredit,EarnedCreditOverrideFlag,EarnedCreditOverrideReason,MarkTypeCode,MarkTypeDesc,Mark,StaffPersonKey,InstructionalSettingCode,mask_studentpersonkey
0,1,32,2021-2022,Q2,2021-10-13 00:00:00.000,2021-12-17 00:00:00.000,380,193,Level 1,0.000111,...,NaN,0.0,NaN,NaN,S18,Semester,NaN,14906,G,418681
1,1,32,2021-2022,Q1,2021-08-09 00:00:00.000,2021-10-08 00:00:00.000,155,298,Level 1,0.8,...,NaN,0.0,NaN,NaN,S18,Semester,NaN,-1,S,419430
2,1,32,2021-2022,Q1,2021-08-09 00:00:00.000,2021-10-08 00:00:00.000,601,101,Level 1,0.8,...,NaN,0.0,NaN,NaN,S18,Semester,NaN,65356,S,433229
3,1,32,2021-2022,Q1,2021-08-09 00:00:00.000,2021-10-08 00:00:00.000,324,5060,Level 1,0.8,...,NaN,0.0,NaN,NaN,S18,Semester,NaN,29922,S,419002
4,1,32,2021-2022,Q1,2021-08-09 00:00:00.000,2021-10-08 00:00:00.000,380,193,Level 1,0.000111,...,NaN,0.0,NaN,NaN,S18,Semester,NaN,14906,NaN,466709

In [53]:
df["AttemptedCredit"].unique()

array([0.  ,  nan, 0.5 , 1.  , 0.05, 1.5 ])

In [54]:
df["EarnedCredit"].unique()

array([0.  ,  nan, 0.5 , 1.  , 0.05, 1.5 ])

In [59]:
df[df["AttemptedCredit"] != df["EarnedCredit"]][["AttemptedCredit", "EarnedCredit"]]

         AttemptedCredit  EarnedCredit
38                   NaN           NaN
42                   NaN           NaN
58                   NaN           NaN
74                   NaN           NaN
90                   NaN           NaN
...                  ...           ...
3145036              NaN           NaN
3145049              NaN           NaN
3145051              NaN           NaN
3145055              NaN           NaN
3149621              NaN           NaN

[1051422 rows x 2 columns]